---
layout: default
title: main page
---

<ul>
    {% for cat in site.categories %}
            {% assign cat_name = cat[0] %}  <!-- Assign variable -->
                     <li> <h1>{{ cat[0] }}</h1></li>
    {% endfor %}
</ul>



<ul>
{% for posts in site.posts%}
    <li>
        <a href="{{ posts.url | relative_url }}"> <h3>{{posts.title}}<h3></a>
            <p>{{ posts.content |truncatehtml | truncatewords: 60 }}</p>
        </li>
{% endfor%}
<ul>
<!-- 
    Above you will see that this document is calling out a specific layout.
    This page will be calling out the default layout. Layouts are stored in the 
    _layouts folder. 
-->
